* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Nunito';
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wall.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

img {
   margin-top: 1.5rem;
   width: 10rem;
   height: auto;
   object-fit:cover;
   clip-path: circle();
}
 

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2.5rem
}

a {
  background: white;
  height: 4rem;
  width: 15rem;
  
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 2rem;
  font-weight: 700;
  color: black;

}

a:hover {
  background-color: rgba(146, 146, 146, 0.326);
  transition: 0.2s;
  color: rgb(227, 227, 227);
}

a:hover svg  path{
  stroke: white;
  fill: white;
  transition: 2s;
}

svg {
  margin-right: 2rem ;
  margin-left: 3.5rem ;
}


p {
  margin: 3.5rem;
  font-size: 0.9rem;
  font-weight: 100;
  color: white;
  -webkit-font-smoothing:antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-b {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}




@media (min-width: 900px) {
  
  * {
    margin:0;
    
  }
  .container {
    padding:0;
   
    margin-top:10rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  img {
   
    margin-right: 4rem;
    margin-bottom:1rem;
    width: 24rem;
  }

  section p {
    margin-top: 5rem;
    
  }

}